

/* Mon style */
/* mes variables de couleurs */
@font-face {
    font-family: 'IBM';
    src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf');
}

@font-face {
    font-family: 'IBM_italic';
    src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'IBM_italic_light';
    src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf');
}

:root {
    --primary-color: #9b59b6;
    --secondary-color: #8e44ad;
    --background-color: #f8f9fa;
    --formulaire-color: #9c59b680;
}
body {
    font-size: 1.5rem;
    font-family: 'IBM', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    margin: 0 auto;
    background-color: var(--background-color);
}
header {
    max-height: 800px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    }
h1{
    font-family: 'IBM_italic_light';
    font-size: 3rem;
}
h2{
    font-family: 'IBM_italic';
    font-size: 2.5rem;
}
h3{
    font-family: 'IBM_italic';
    font-size: 1.5rem;
}
.formulaire{
    background-color: var(--formulaire-color);
}
.project {
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 25px;
}
.skill {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 0.9em;
    transition: all 0.3s ease;
}
.skill:hover {
    background-color: var(--primary-color);
    /* transform: scale(1.05); */
}
.contact {
    margin-top: 40px;
    text-align: center;
}
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 20px;
    /* transition: all 0.3s ease; */
    font-weight: bold;
}
.btn:hover {
    background-color: var(--secondary-color);
    /* transform: translateY(-2px); */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.748);
}
.embed-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 141.42%; /* Aspect ratio pour A4 (210mm x 297mm) */
    height: 0;
    overflow: hidden;
}

.embed-responsive img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    overflow: hidden; /* Cache toute partie du PDF qui pourrait dépasser */
}
#navbar{
    background-color: var(--primary-color);
}
#competences {
    background-color: var(--primary-color);
    border-radius: 10px;
}

#image_competences {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.748);
    max-width: 100%;
    max-height: 100%; /* Assure que l'image conserve ses proportions */
}

#competences_list {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.748);
}
#footer{
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
}
#portrait{
    width: 30vw; /* Utilisation de vw pour une taille relative à la largeur de la fenêtre */
    height: 30vw; /* Assurez-vous que la hauteur est égale à la largeur pour garder la forme ronde */
    max-width: 200px; /* Limite la taille maximale pour éviter qu'elle ne devienne trop grande */
    max-height: 200px; /* Limite la hauteur maximale pour correspondre à la largeur */
    border-radius: 50%; /* Assure que l'image reste ronde */
    object-fit: cover; /* Assure que l'image est bien ajustée dans le conteneur */
    transition: 0.2ms;
}
#portrait:hover {
    width: 35vw;
    height: 35vw;
    max-width: 250px;
    max-height: 250px;
}
#footer{
    font-family: "IBM_italic_light";
}
#header_tel{
    max-height: 5rem;
}
#footer_tel{
    max-height: 5rem;
}

.techno {
    position: relative;
    z-index: 1; /* Assure que le contenu est au-dessus du pseudo-élément */
}

.techno::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/fond-tecchno.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2; /* Définit l'opacité de l'image de fond */
    z-index: -1; /* Place le pseudo-élément derrière le contenu */
}